* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: #000;
}
h1 {
  font-size: 55px;
}

.intro_bg {
  background-image: url("src/image/intro_2.jpg");
  width: 100%;
  height: 718px;
}
.header {
  display: flex;
  width: 1280px;

  height: 86px;
}
.nav {
  display: flex;
  width: calc(1280px - 300px);
  justify-content: flex-end;
  line-height: 86px;
}
.nav > li {
  margin-left: 84px;
}
.nav > li > a {
  color: white;
  font-weight: bold;
}
.searchArea {
  margin: 30px auto 100px auto;
  width: 300px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.searchArea > form > input {
  border: none;
  width: 220px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
.searchArea > form > span {
  width: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.intro_text {
  width: 100%;
  text-align: center;
  margin: 60px auto 231px auto;
}
.intro_text > h1,
.intro_text > h2 {
  color: #fff;
}

.intro_text > h2 {
  font-size: 22px;
}

.box-st {
  width: 60px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0px solid rgba(0, 0, 0, 0.5);
  user-select: none;
}

.text-st {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
}

.button-st {
  cursor: pointer;
}
.button-st:active {
  transform: translate(1px, 1px);
}
